@model TrySecondInter.Models.Person
@{
    ViewBag.Title = "AddInfo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AddInfo, @ViewBag.UsernameMy</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Form of personal information</legend>
        <div class="new_table">
            <table>
                <tr>
                    <td>
                        <p>@Html.LabelFor(m => m.Name)</p>
                    </td>
                    <td>
                        <p>@Html.TextBoxFor(m => m.Name)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>@Html.LabelFor(m => m.Surname)</p>
                    </td>
                    <td>
                        <p>@Html.TextBoxFor(m => m.Surname)</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>@Html.LabelFor(m => m.BirthDate)</p>
                    </td>
                    <td>
                        <p>@Html.TextBoxFor(m => m.BirthDate)</p>
                    </td>
                </tr>
            </table>
        </div>


        <input type="submit" value="Add data" />
    </fieldset>
}

@*@section Scripts {
    @Scripts.Render("~/Scripts/jqueryval")
    @Scripts.Render("~/Scripts/bootstrap-datepicker")

    <script type="text/javascript">
        $(document).ready(function () {
            //alert('d');
            $('#datetimepicker1').datepicker();
        });
        //$(function () {
        //    $('#datetimepicker1').datetimepicker();
        //});
    </script>
}

@section styles{
    @Styles.Render("~/Content/bootstrap-datepicker")
}*@